@model HomeModelBindningViewModel
@{
    ViewData["Title"] = "ModelBindning";
}

<h1>@ViewData["Title"]</h1>

<div>
    Enter valies for your thing in the following form:
</div>
<form method="post" action="/home/modelbindning/2?id=3">
    <input name="id" value="1" />
    <input name="color" value="Red" />
    <input name="email" value="test@example.com" />
    <input type="submit" />
</form>

@if(Model is not null)
{
    <h2>Submitted thing</h2>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>Model ID</dt>
            <dd>@Model.thing.Id</dd>

            <dt>Model Color</dt>
            <dd>@Model.thing.Color</dd>

            <dt>Model Email</dt>
            <dd>@Model.thing.Email</dd>
        </dl>
    </div>
    @if (Model.HasErrors)
    {
        <div>
             @foreach(string errorMessage in Model.ValidationErrors)
             {
                <div class="alert alert-danger" role="alert">@errorMessage</div>
             }
        </div>
    }
}